@page "/about"

    <style>

        p {
            color: white
        }

        .bw {
            color: navajowhite
        }


        #center { margin-left: 30%; margin-top: 5% 
        }

    </style>

    <div id="center">

        <h1 class="bw">About</h1>

        <p>A70Insurance application - Is demonstration only.</p>


        <p>A70Insurance application - Written in Blazor</p>

    </div>


    @code { }
