@page "/"
@page "/index"  

<style>

    .a1 { margin-left: 5px; color: burlywood; background-color:black; }
    .t1 { font-size: large;}

</style>
<!-- copied from a11 -->
<div class="container">


    <div style='margin-left: 350px'>
        <div class="row justify-content-left">
            <font family="arial" font-size="60" style="color:navajowhite">
                <h1 display-1> The Insurance Company</h1>
            </font>
        </div>
    </div>



    <div class="row-md-6">

        <img alt="Second slide" src="/pics/rock.jpg" class="r1 img-fluid" style="margin: 10px">

    </div>

    <div style='margin-left: 290px'>
        <div class="row justify-content-left">
            <font family="arial" font-size="60" style="color:navajowhite">
                <h1 display-1><i> Now is the time to buy insurance!</i></h1>
            </font>
        </div>
    </div>


    <div id="footer" style="margin-left: 200px">
        <br>
        <!-- a60 additions at bottom -->
        <text class='btn t1' style="color:white;">2023 - A70Insurance - Blazor</text>
        <text class='btn t1' style='color:gray;'>Find out info here</text>
        <a class="a1" href="/info" style="font-size: large; color: navajowhite">Info</a>
        <text class='t1' style='color:gray;'>Find about here...</text>
        <a class="a1"href='/about' style="font-size: large; color: navajowhite">About</a>
        <text class='t1' style='color:gray;'>Time to buy...</text>
        <a class="a1" href='/register' style="font-size:large; color: navajowhite">Feb 1, 2023</a>
        <text class='t1' style='color:gray;'>or...</text>
        <a class="a1" href='/signin' style="font-size:large; color: navajowhite">Sign in</a>

    </div>

</div>


@code {
     
    }
