


@page "/info" 

<style>

    p { color: white; }

</style>


<h4 style="color:navajowhite">Introduction</h4>
<p> This is a demonstration web site only.  </p>


<h4 style="color:navajowhite">Baic Operation</h4>
<p>
    Customers register first. Select a unique custome id and password.
    Before you can enter a claim you must select a plan.
</p>


<h4 style="color:navajowhite">Claims</h4>
<p>
    You can enter claims. There are four claim types: medical, dental, vision and drug.
    Based on the plan the coveragd amount will be calculated by service selected.
</p>


<h4 style="color:navajowhite">History</h4>
<p> You can review claim history. Optionl adjustments can be selected. You can also pay a claim. </p>


<h4 style="color:navajowhite">Style</h4>
<p>
    Claim and Update screens can have different styles and colors. Use style link and color
    links for this purpose.
</p>


<h4 style="color:navajowhite">Authorization</h4>
<p> The developer will provide credential values to authorize your use upon request.  </p>


<h4 style="color:navajowhite">Administration</h4>
<p>
    The administrator can reset customer id's and passwords upon request. This function
    is restricted.
</p>

@code { }
